.stocks {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-gap: 20px;
}

.stock {
	background-color: rgb(32, 29, 29);
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border: 2px solid black;
	text-align: center;
	padding: 10px;
	border-radius: 8px;
	box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
	transition: box-shadow 0.3s ease;
}

.stock:hover {
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.details {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
}

.name {
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 5px;
}

.price {
	font-size: 16px;
	margin-bottom: 5px;
}

.increase {
	color: green;
	font-weight: bold;
}

.decrease {
	color: red;
	font-weight: bold;
}

.buttonSection {
	display: flex;
	justify-content: center;
	margin-top: 10px;
}

.btn {
	margin: 5px;
	padding: 8px 16px;
	border: none;
	border-radius: 4px;
	background-color: #3498db;
	color: white;
	font-size: 14px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.btn:hover {
	background-color: #2980b9;
}
